.wp-block-button {

    

    &.is-style-outline{
        .wp-block-button__link {
            padding: 10px 20px;
            opacity: 100%;
        }
    }

    &.is-style-btn-link {
        .wp-block-button__link {
            padding: 10px 20px;
            opacity: 100%;
            border: none;
            background-color: transparent;
            font-weight: 800;
            border-color: transparent;
            color: rgb(0, 29, 190);

            &::hover{
                text-decoration: underline;
            }
        }
    }


}
