.wp-block-button.is-style-outline .wp-block-button__link {
  padding: 10px 20px;
  opacity: 100%;
}

.wp-block-button.is-style-btn-link .wp-block-button__link {
  padding: 10px 20px;
  opacity: 100%;
  border: none;
  background-color: transparent;
  font-weight: 800;
  border-color: transparent;
  color: #001dbe;
}

.wp-block-button.is-style-btn-link .wp-block-button__link::hover {
  text-decoration: underline;
}
