.list {
    &-none	{
        list-style-type: none;
    }

    &-inline-comma	{
        list-style-type: none;
        display: inline;
        padding: 0px;

        li {
            display: inline;
            padding: 0px;

            &::after {
                content: ", ";
            }

            &:last-child::after {
                content: "";
            }
        }
    }

    &-disc {
        list-style-type: disc;
    }

    &-decimal {
        list-style-type: decimal;
    }
}
