html {
	scroll-behavior: auto !important;
}
.wp-block-lazyblock-toc {

    ul, ol {
        margin: 0px 0 15px 20px;
    }

    .lbu7-toc-header {
		padding: 10px 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		.ib-toc-header-right {
			display: flex;
		}
	}

    .lbu7-toc-separator {
		height: 1px;
		background-color: #333;
	}


	.ib-toc-icon-collapse {
		display: none;
		height: 20px;
		line-height: 1;
		svg {
			fill: var(--fill);
		}
	}
	.ib-toc-icon-expand {
		display: none;
		height: 20px;
		line-height: 1;
		svg {
			fill: var(--fill);
		}
	}
	.ib-toc-body {
		padding: 20px;
	}
	.lbu7-toc {
		margin: 0;
        padding: 1rem 0 1rem 2rem;
		li {
			margin-top: var(--listSpacing);
		}
		>li {
			&:first-of-type {
				margin-top: 0;
			}
		}
		a {
			color: var(--linkColor);
		}

        ol {
            list-style: none !important;
            counter-reset: item;
            li {
                counter-increment: item;
                &:before {
                    content: counters(item, ".") " ";
                    display: inline-block;
                    width: 2em;
                    margin-left: -2.5em;
                    margin-right: 0.5em;
                    text-align: right;
                }
            }
        }
        ol {
            >li {
                &:before {
                    content: counters(item, ".") ". ";
                }
            }
        }
	}
	
}
.ib-toc-container.ib-toc-expanded {
	.ib-toc-icon-collapse {
		display: inline;
	}
}
.ib-toc-container.ib-toc-collapsed {
	.ib-toc-icon-expand {
		display: inline;
	}
}
