:root {
    --rounded-level-xs: 0.5rem;
    --rounded-level-base: 1rem;
    --rounded-level-md: 2rem;
    --rounded-level-lg: 5rem;
    --rounded-level-full: 9999px;
}
  
.rounded {

	border-radius: var(--rounded-level-base);
    .wp-block-cover__gradient-background {
        border-radius: var(--rounded-level-base);
        &::before {
            border-radius: var(--rounded-level-base);
        }
    }

    &-none	{
        border-radius: 0px;
    }

    &-sm {
        border-radius: var(--rounded-level-xs);
        .wp-block-cover__gradient-background {
            border-radius: var(--rounded-level-xs);
            &::before {
                border-radius: var(--rounded-level-xs);
            }
        }
    }

    &-md {
        border-radius: var(--rounded-level-md);
        .wp-block-cover__gradient-background {
            border-radius: var(--rounded-level-md);
            &::before {
                border-radius: var(--rounded-level-md);
            }
        }
    }

    &-lg {
        border-radius: var(--rounded-level-lg);
        .wp-block-cover__gradient-background {
            border-radius: var(--rounded-level-lg);
            &::before {
                border-radius: var(--rounded-level-lg);
            }
        }
    }

    &-full {
        border-radius: var(--rounded-level-full);
        .wp-block-cover__gradient-background {
            border-radius: var(--rounded-level-full);
            &::before {
                border-radius: var(--rounded-level-full);
            }
        }
    }
}
