:root {
  --rounded-level-xs: 0.5rem;
  --rounded-level-base: 1rem;
  --rounded-level-md: 2rem;
  --rounded-level-lg: 5rem;
  --rounded-level-full: 9999px;
}

.rounded {
  border-radius: var(--rounded-level-base);
}

.rounded .wp-block-cover__gradient-background {
  border-radius: var(--rounded-level-base);
}

.rounded .wp-block-cover__gradient-background::before {
  border-radius: var(--rounded-level-base);
}

.rounded-none {
  border-radius: 0px;
}

.rounded-sm {
  border-radius: var(--rounded-level-xs);
}

.rounded-sm .wp-block-cover__gradient-background {
  border-radius: var(--rounded-level-xs);
}

.rounded-sm .wp-block-cover__gradient-background::before {
  border-radius: var(--rounded-level-xs);
}

.rounded-md {
  border-radius: var(--rounded-level-md);
}

.rounded-md .wp-block-cover__gradient-background {
  border-radius: var(--rounded-level-md);
}

.rounded-md .wp-block-cover__gradient-background::before {
  border-radius: var(--rounded-level-md);
}

.rounded-lg {
  border-radius: var(--rounded-level-lg);
}

.rounded-lg .wp-block-cover__gradient-background {
  border-radius: var(--rounded-level-lg);
}

.rounded-lg .wp-block-cover__gradient-background::before {
  border-radius: var(--rounded-level-lg);
}

.rounded-full {
  border-radius: var(--rounded-level-full);
}

.rounded-full .wp-block-cover__gradient-background {
  border-radius: var(--rounded-level-full);
}

.rounded-full .wp-block-cover__gradient-background::before {
  border-radius: var(--rounded-level-full);
}
