.is-style-cover-radius-1rem .has-background-dim {
  border-radius: 1rem;
}

.is-style-cover-radius-1rem .has-background-dim::before {
  border-radius: 1rem;
}

.is-style-cover-radius-3rem .has-background-dim {
  border-radius: 3rem;
}

.is-style-cover-radius-3rem .has-background-dim::before {
  border-radius: 3rem;
}
