html {
  scroll-behavior: auto !important;
}

.wp-block-lazyblock-toc ul, .wp-block-lazyblock-toc ol {
  margin: 0px 0 15px 20px;
}

.wp-block-lazyblock-toc .lbu7-toc-header {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wp-block-lazyblock-toc .lbu7-toc-header .ib-toc-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wp-block-lazyblock-toc .lbu7-toc-separator {
  height: 1px;
  background-color: #333;
}

.wp-block-lazyblock-toc .ib-toc-icon-collapse {
  display: none;
  height: 20px;
  line-height: 1;
}

.wp-block-lazyblock-toc .ib-toc-icon-collapse svg {
  fill: var(--fill);
}

.wp-block-lazyblock-toc .ib-toc-icon-expand {
  display: none;
  height: 20px;
  line-height: 1;
}

.wp-block-lazyblock-toc .ib-toc-icon-expand svg {
  fill: var(--fill);
}

.wp-block-lazyblock-toc .ib-toc-body {
  padding: 20px;
}

.wp-block-lazyblock-toc .lbu7-toc {
  margin: 0;
  padding: 1rem 0 1rem 2rem;
}

.wp-block-lazyblock-toc .lbu7-toc li {
  margin-top: var(--listSpacing);
}

.wp-block-lazyblock-toc .lbu7-toc > li:first-of-type {
  margin-top: 0;
}

.wp-block-lazyblock-toc .lbu7-toc a {
  color: var(--linkColor);
}

.wp-block-lazyblock-toc .lbu7-toc ol {
  list-style: none !important;
  counter-reset: item;
}

.wp-block-lazyblock-toc .lbu7-toc ol li {
  counter-increment: item;
}

.wp-block-lazyblock-toc .lbu7-toc ol li:before {
  content: counters(item, ".") " ";
  display: inline-block;
  width: 2em;
  margin-left: -2.5em;
  margin-right: 0.5em;
  text-align: right;
}

.wp-block-lazyblock-toc .lbu7-toc ol > li:before {
  content: counters(item, ".") ". ";
}

.ib-toc-container.ib-toc-expanded .ib-toc-icon-collapse {
  display: inline;
}

.ib-toc-container.ib-toc-collapsed .ib-toc-icon-expand {
  display: inline;
}
